# Making the initial timetable

In [1]:
import pandas as pd
import numpy as np

In [2]:
proc_tt = pd.read_excel("Processed Data/encoded_timetable_data.xlsx").copy()
print(proc_tt.columns)
print("Shape of dataframe: ", proc_tt.shape)

Index(['Course', 'Code', 'Linked Course', 'Activity', 'Activity Type Name',
       'Planned Size', 'Real Size', 'Delivery Semester',
       'Teaching Week Pattern', 'Number Of Teaching Weeks', 'Scheduled Days',
       'Scheduled Start Time', 'Scheduled End Time', 'Duration', 'Total Hours',
       'Zone Name', 'room_name', 'Delivery Period', 'Normal Year Taken',
       'building', 'encoded_days', 'Abbreviated Course Name', 'time_periods',
       'duration_hours', 'total_duration_hours', 'course_classtype',
       'ws_groups', 'no_of_agg_ws_groups', 'aggregated_ws_groups',
       'sem1_pattern_one_hot', 'sem2_pattern_one_hot'],
      dtype='object')
Shape of dataframe:  (1259, 31)

## Cleaning data

In [3]:
# Drop MIGS course as we are not considering it for SoM
proc_tt.drop(proc_tt.index[proc_tt.Code == "MATH11220"].tolist(), inplace = True)

## Choosing weeks in semester 1 and semester 2 for timetabling

In [4]:
sem1_tt = proc_tt[proc_tt["sem1_pattern_one_hot"].str.contains('1')]
sem2_tt = proc_tt[proc_tt["sem2_pattern_one_hot"].str.contains('1')]
s2w3_tt = sem2_tt[sem2_tt["Teaching Week Pattern"].str.contains('s2w3')]
s2w4_tt = sem2_tt[sem2_tt["Teaching Week Pattern"].str.contains('s2w4')]

In [5]:
init_tt_s2w3 = np.zeros((9, 5), dtype = "O")
init_tt_s2w4 = np.zeros((9, 5), dtype = "O")

days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
periods = ['1', '2', '3', '4', '5', '6', '7', '8', '9']

### Create initial timetable for any week

In [50]:
def create_init_tt(sem, week, days, periods, full_tt = proc_tt):
    sem_tt = full_tt[full_tt["sem"+str(sem)+"_pattern_one_hot"].str.contains('1')]
    sw_tt = sem_tt[sem_tt["Teaching Week Pattern"].str.contains('s'+str(sem)+'w'+str(week))]
    init_tt = pd.DataFrame(np.zeros((9, 5), dtype = "O"), index = periods, columns = days)
    
    # # For cross checking
    sw_copy = sw_tt.copy()
    sw_copy["time_periods"] = sw_copy["time_periods"].str.split(',')
    sw_copy = sw_copy.explode("time_periods")

    count = 0

    for d, day in enumerate(days):
        # sw_check = sw_copy[sw_copy["Scheduled Days"] == day]
        # day_tt = sw_check.drop_duplicates(subset = ["course_classtype", "room_name", "time_periods"])
        # count_check = 0
        # indices = []
        for t, period in enumerate(periods):
            # print(day, period)
            sw_day_time_tt = sw_tt[(sw_tt["Scheduled Days"] == day) & (sw_tt["time_periods"].str.contains(period))]
            sw_dt_tt_unique = sw_day_time_tt.drop_duplicates(subset = ["course_classtype", "room_name", "Scheduled Start Time"])
            # count_check += sw_dt_tt_unique.shape[0]
            # unique_indices = sw_dt_tt_unique.index.tolist()
            # indices.extend(unique_indices)
            classes_rooms = []
            for row in sw_dt_tt_unique.itertuples():
                classes_rooms.append([row.course_classtype, row.room_name])
                count += 1
            
            init_tt.loc[period, day] = str(classes_rooms).replace(", ", "")

        # print(count_check, day_tt.shape[0])
        # print(np.sort(np.array(indices)), np.sort(np.array(day_tt.index.tolist())))

    print(count, sw_copy.drop_duplicates(subset = ["course_classtype", "room_name", "Scheduled Days", "time_periods"]).shape[0])
    return init_tt
    
init_tt_s2w4 = create_init_tt(sem=2, week=4, days=days, periods=periods)
init_tt_s2w3 = create_init_tt(sem=2, week=3, days=days, periods=periods)

init_tt_s2w4.to_csv(f"Initial_timetables/init_tt_s2w4.csv")
init_tt_s2w3.to_csv(f"Initial_timetables/init_tt_s2w3.csv")

242 242
234 234

In [49]:
init_tt_s2w3

,Monday,Tuesday,Wednesday,Thursday,Friday
1,[['MATH10077_lec''JCMB_5327']['MATH10069_lec''...,[['MATH08058_ws''AT_M2 - Teaching Studio']['MA...,[['MATH08075_ws''NUC_2.03 - Hawthorn Teaching ...,[['MATH10077_lec''JCMB_6206']['MATH10069_lec''...,[['MATH08065_cws''NUC_2.06 - Rowan Teaching St...
2,[['MATH11120_lec''JCMB_1501']['MATH11181_lec''...,[['MATH08058_ws''AT_M2 - Teaching Studio']['MA...,[['MATH10077_ws''JCMB_1501']['MATH08075_ws''NU...,[['MATH10086_lec''JCMB_Lecture Theatre C']['MA...,[['MATH10086_lec''JCMB_Lecture Theatre C']['MA...
3,[['MATH11148_lec''JCMB_Lecture Theatre A']['MA...,[['MATH10086_lec''JCMB_Lecture Theatre A']['MA...,[['MATH08065_lec''NUC_1.14 - Oak Lecture Theat...,[['MATH08064_ws''NUC_2.03 - Hawthorn Teaching ...,[['MATH11174_ws''MH_1.20 - Open Access/Teachin...
4,[['MATH11148_lec''JCMB_Lecture Theatre A']['MA...,[['MATH08058_ws''AT_M2 - Teaching Studio']['MA...,[['MATH11206_lec''JCMB_6206']['MATH08064_lec''...,[['MATH08075_lec''NUC_1.14 - Oak Lecture Theat...,[['MATH11174_ws''MH_LG.12 - Open Access Comput...
5,[['MATH08058_lec''GALT_ Gordon Aikman Lecture ...,[['MATH08058_ws''AT_M2 - Teaching Studio']['MA...,[['MATH08075_ws''JCMB_3211 - Teaching Studio']...,[['MATH08058_lec''GALT_ Gordon Aikman Lecture ...,[['MATH11140_lec''HBB_Lecture Theatre 2']['MAT...
6,[['MATH08058_lec''GALT_ Gordon Aikman Lecture ...,[['MATH08058_ws''AT_M2 - Teaching Studio']['MA...,[['MATH10010_ws''JCMB_3211 - Teaching Studio']...,[['MATH08058_lec''GALT_ Gordon Aikman Lecture ...,[['MATH10086_ws''JCMB_1206c - Teaching Studio'...
7,[['MATH11148_cws''MH_1.20 - Open Access/Teachi...,[['MATH08058_ws''AT_M2 - Teaching Studio']['MA...,[['MATH10010_ws''JCMB_3211 - Teaching Studio']...,[['MATH10003_lec''JCMB_Lecture Theatre A']['MA...,[['MATH10069_cws''MH_G.07 - Teaching Studio']]
8,[['MATH11148_cws''MH_1.20 - Open Access/Teachi...,[['MATH11140_lec''MH_G.26 - Charlotte Murchiso...,[['MATH11174_lec''JCMB_Lecture Theatre C']],[['MATH10069_ws''JCMB_1206c - Teaching Studio'...,[['MATH10067_lec''NUC_1.14 - Oak Lecture Theat...
9,[['MATH10060_ws''JCMB_1206c - Teaching Studio'...,[['MATH08058_ws''AT_M2 - Teaching Studio']['MA...,[['MATH11174_lec''JCMB_Lecture Theatre C']],[['MATH10060_qna''JCMB_Lecture Theatre A']],[]